*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
/*  */
.display-statu {
    display: none;
}
.error-style {
    color: red;
    font-size: 12px;
}
/*  */
header{
    height: 80px;
    background-color: blueviolet;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}
@media(max-width: 425px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}
}
.left-side {
    grid-column: 1/2; 
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
/* cards */
#cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 425px){
  #cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
#cards .card-container {
  position: relative;
  width: 190px;
}
#cards .card-container .position-rate {
  position: absolute;
  top: 57px;
  left: 29px;
  font-size: 14px;
}
#cards .card-container .player-profile {
  position: absolute;
  top: 44px;
  left: 31px;
  width: 123px;
}
#cards .card-container .player-name {
  position: absolute;
    top: 167px;
    left: 35px;
    font-size: 14px;
    text-align: center;
}
#cards .card-container .footer-card {
  position: absolute;
  bottom: 31px;
  left: 69px;
}
#cards .card-container .horizental-stats {
  position: absolute;
  top: 64px;
  left: 135px;
  font-weight: 700;
  font-size: 13px;
}
#cards .card-container .bottom-stats{
  position: absolute;
  bottom: 54px;
  left: 43px;
  font-weight: 700;
  font-size: 13px;
}
#cards .card-container .vertical-stats {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
/* form */
.form-container {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  #player-form {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 425px){
    .form-container {
      width: 100%;
      max-width: 425px;
    }
    #player-form {
      display: flex;
      flex-direction: column;
    }
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input, select,button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input:focus, select:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }
  



